{% extends "frontend/base.html" %}
{% block title %}图片馆{% endblock %}
{% block content %}
<ul class="btn-panel clearfix">
    <li>
      <form class="search" action="http://google.com/search" method="get" accept-charset="utf-8" id="search_form">
          <input type="text" class="btn-txt" onfocus="if (this.value == '搜索') {this.value=''}" onblur="if(this.value == '') { this.value='搜索'}" value="搜索"/>
          <input type="submit" class="icon sb" value="" title="提交搜索"/>
          <input type="hidden" name="q" value="site:{{ config['SITE_URL'] }}">
      </form>
    </li>
</ul>
<div class="back">
    <a href="/">返回</a>
</div>
<div class="wrap">
    <div class="header clearfix">
      <div class="portrait sprite">
        <div class="circle">
            <a href="/" title="{{ config['MAIN_TITLE'] }}"><img src="{{ profile.avatar }}"  alt="{{ profile.name }}"></a>
        </div>
      </div>
      <div class="mod-right">
        <h1>
            <a href="/" title="{{ config['MAIN_TITLE'] }}">{{ profile.name }}</a>
        </h1>
        <div class="tools">
          <a href="{{ url_for('frontend.home') }}">首页</a>
          <a href="{{ url_for('frontend.diary_list', page_num=1) }}">日志</a>
          <a href="{{ url_for('frontend.gallery') }}">相册</a>
        </div>
      </div>
    </div>
    <div class="outer-gallery" id="outer-gallery">
        <img src="{{ url_for('static', filename='img/marry/inner-bg6.jpg') }}" class="gallery-img"/>
        <div class="gallery" id="gallery">
            {% for i in albums|sort(attribute='publish_time', reverse=True) %}
                {% for c in i.content|sort(attribute="publish_time", reverse=True) %}
                <a href="javascript:void(0);" class="large polaroid img1" title="{{ c.title }}">
                    <img src="{{ c.path }}">
                    <p>{{ c.title }}</p>
                </a>
              {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div id="mask"></div>
</div>

<div class="pop" id="pop">
    <img src="{{ url_for('static', filename='img/marry/glry-img6.jpg') }}">
    <p></p>
    <a id="close">close</a>
</div>
{% endblock %}
