{% extends 'frontend/base.html' %}
{% block title %}没有找到相关页面{% endblock %}
{% block content %}
  <ul class="btn-panel clearfix">
    <li>
    <form class="search">
      <input type="text" class="btn-txt" onfocus="if (this.value == '搜索') {this.value=''}" onblur="if(this.value == '') { this.value='搜索'}" value="搜索"/>
      <input type="submit" class="icon sb" value="" title="提交搜索"/>
    </form>
    </li>
  </ul>
  <div class="wrap">
    <div class="header clearfix">
      <div class="portrait sprite">
        <div class="circle">
          <a href="/" title="{{ config['MAIN_TITLE'] }}"><img src="{{ url_for('static', filename='img/portrait.jpg') }}"></a>
        </div>
      </div>
      <div class="mod-right">
        <h1>
          <a href="/" title="{{ config['MAIN_TITLE'] }}"></a>
        </h1>
        <div class="tools">
          <a href="{{ url_for('frontend.home') }}">首页</a>
          <a href="{{ url_for('frontend.diary_list', page_num=1) }}">日志</a>
          <a href="{{ url_for('frontend.gallery') }}">相册</a>
          <a href="#" class="no-bdr">个人作品</a>
        </div>
      </div>
    </div>
    <div class="sprite no-result">
      <div class="no-result-txt p">
        <img src="{{ url_for('static', filename='img/4042.jpg') }}" />啊~ , 我还木有去过那里 o(>﹏<)o <a href="/">返回</a>
      </div>
    </div>
  </div>
{% endblock %}
