{% extends 'frontend/base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
  <ul class="btn-panel clearfix">
    <li>
      <form class="search" action="http://google.com/search" method="get" accept-charset="utf-8" id="search_form">
          <input type="text" class="btn-txt" onfocus="if (this.value == '搜索') {this.value=''}" onblur="if(this.value == '') { this.value='搜索'}" value="搜索"/>
          <input type="submit" class="icon sb" value="" title="提交搜索"/>
          <input type="hidden" name="q" value="site:{{ config['SITE_URL'] }}">
      </form>
    </li>
  </ul>
  <div class="wrap">
    <div class="header clearfix">
      <div class="portrait sprite">
        <div class="circle">
            <a href="/" title="{{ config['MAIN_TITLE'] }}"><img src="{{ profile.avatar }}"  alt="{{ profile.name }}"></a>
        </div>
      </div>
      <div class="mod-right">
        <h1>
            <a href="/" title="{{ config['MAIN_TITLE'] }}">{{ profile.name }}</a>
        </h1>
        <div class="tools">
          <a href="{{ url_for('frontend.home') }}">首页</a>
          <a href="{{ url_for('frontend.diary_list', page_num=1) }}">日志</a>
          <a href="{{ url_for('frontend.gallery') }}">相册</a>
          <a href="#" class="no-bdr">个人作品</a>
        </div>
      </div>
    </div>
    <div class="main">
      {% set n = 0 %}
      {% for i in diaries %}
      {% set n = n + 1 %}
      <div class="post {% if n is odd %} post-left {% else %} post-right {% endif %}clearfix">
        <div class="post-date">
          <span class="icon day">{{ i.publish_time.strftime('%d') }}</span>
          <span class="time">{{ i.publish_time.strftime('%H:%M:%S') }}</span>
          <span class="date">{{ i.publish_time.strftime('%Y-%m-%d') }}</span>
        </div>
        <div class="post-content">
          <div class="post-main-bg sprite">
            <div class="post-main sprite">
              <div class="mod-txt mod-text">
                <h2>
                  <a href="/diary/{{ i.id }}/{{ i.title }}" title="{{ i.title }}">{{ i.title }}</a>
                </h2>
                <p>{{ i.summary|safe }}<a href="/diary/{{ i.id }}/{{ i.title }}" class="read-more">详细阅读...</a></p>
              </div>
            </div>
          </div>
          <div class="post-meta sprite">
            <div class="author-avatar">
                <a href="#"><img src="{{ i.author.avatar }}"/></a>
            </div>
            <h3>文章分类：<a>{{ i.category }}</a></h3>
            <div class="tags">
              {% for t in i.tags %}
              <span><a href="/tag/{{t}}" title="{{t}}">{{ t }}</a></span>
              {% endfor %}
            </div>
            <div class="critic">评论：<a href="/diary/{{ i.id }}/{{ i.title }}">{{ i.comments|count }}</a></div>
          </div>
        </div>
      </div><!--./post-->
      {% endfor %}
      {% if next_page == True %}
        <div class="load">
          <a href="/diary/list/2"><span id="load-more" class="icon load-more"  title="下一页"></span></a>
        </div>
      {% endif %}
  </div>
{% endblock %}
